  <div id='chatContainer'>
    <div class='chatLineHolder' id='chatLineHolder'></div>
    <div class='rounded' id='chatBottomBar'>
      <div class='tip'></div>
      <form accept-charset="UTF-8" action="/" id="message_form" method="post">
          <span id='name'></span>
          <input id='room' name='room' type='hidden'>
          <input class='rounded' id='message' maxlength='255' name='message'>
          <input class='blueButton' type='submit' value='Chat'>
      </form>
    </div>
  </div>
