<script type='text/javascript' src='/jwplayer.js'></script>
<div style="display: table-cell;vertical-align: middle"   id='mediaspace'>This text will be replaced</div>
<script type='text/javascript'>
  var roomid = $('#divroom').data('roomname');
  roomid = "stream" + roomid;
  jwplayer('mediaspace').setup({
    'file': 'rtmp://www.codepark.us/oflaDemo'+roomid,
    'width': '500',
    'height': '60'
  });
</script>
