    <script type="text/javascript" src="/swfobject.js"></script>
    <div style="display: table-cell;vertical-align: middle"  id="liveaudio">
        <p>Flash not installed</p>
    </div>



    <script type="text/javascript">
	var roomid = $('#divroom').data('roomname');
	roomid = "stream" + roomid;
        var flashVars = {
            streamer: 'rtmp://www.codepark.us/oflaDemo',
            file:roomid,
        };
        swfobject.embedSWF("/RtmpPublisher.swf", "liveaudio", "800", "140", "9.0.0", null, flashVars);

    </script>

