<section id="about" class="feature">
  <div class="wrapper">
    <div class="primary_info">
      <h1 style="color:#00dd00">
        爱 编 程 就 像 爱 生 命
      </h1>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="" ><font size=5>编程公园，我们的精神家园</font></a>
        </p>
       </p>在这里，你可以
     <font size=4> 
	</p> · 记录你的代码，并分享给他人 
	</p> · 留下你的声音，让世界听得见
	</p> · 找到你的知己，一起学习成长 
        </p>
      </font>
	
      <p>
        <%= link_to '&raquo; 帮助别人，快乐自己，从这里开始'.html_safe, docs_path(:record) %>
      </p>
    </div>

    <div class="secondary_info" style="height:400px">
      <%= player @asciicast, :speed => 1.0, :hud => false if @asciicast %>
    </div>
  </div>
</section>

<section class="supplimental">
  <div class="wrapper">
    <div class="main">
      <h1>最新录制</h1>
      <%= render :partial => 'asciicasts/previews',
                 :locals => { :asciicasts => @asciicasts } %>
    </div>

    <div class="extras">
      <%= render :partial => 'shared/browse_categories' %>
    </div>
  </div>
</section>
